.NavbarItems {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
  padding: 0 30px;
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}

.navbar-logo {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}
.menu-icon {
  display: none;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  background-color: #fffff7;
  list-style: none;
  align-items: center;
}
.nave-links {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}
.nave-links i {
  padding-right: 10px;
  border: none;
}

.nave-links:hover {
  background-color: #01959a;
  border-radius: 6px;
  color: #fffff7;
  transition: all 0.2s ease-in-out;
}

.nave-links-mobile {
  display: none;
}
.btn {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background-color: #151516;
  color: #fffff7;
}
@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 030px 0;
    margin: 0;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .nave-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  .nave-links:hover {
    background-color: #01959a;
    transition: none;
  }
  .btn {
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .menu-icon i {
    font-size: 1.2rem;
    color: #222;
  }
  .nave-links-mobile {
    display: block;
    padding: 1.5rem;
    text-align: center;
    margin: auto;
    width: 80%;
    border-radius: 4px;
    background-color: #01959a;
    color: #fffff7;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
  }
}
